/integration/oat-tag-selection-xml/target/
/integration/oat-tag-selection-json/target/
/util/oat-util-cpg/target/
/common/io/target/
/common/validation/target/
/common/crypto/target/
/util/oat-util-xml/target/
/integration/api-datatypes-jar/target/
/common/jpa/target/
/database/mysql/target/
/database/postgres/target/
/integration/http-authorization/target/
/services/webservice-util/target/
/services/ASCommon/target/
/services/ASData/target/
/integration/api-client-jar/target/
/services/trust-utils-jar/target/
/services/AttestationService/target/
/util/oat-util-jdbi/target/
/services/aikqverify/target/
/services/oat-tag-dao-jooq/target/
/services/WLMService/target/
/portals/TrustDashBoard/target/
/services/oat-tag-jdbi/target/